/*		
*	Author:	Robert Hunter
*	Assignment:	Minor	Project	–	Eco Ninja, SxSW
*	Date	:	12/07/15
*	Ref:	
*/

/* Colour  Variables 

	Use these colour variables throughout code to keep colours consitent
*/

.bg-greenDark { background-color: #197B30; }
.bg-greenMedium { background-color: #15D000; }
.bg-cream { background-color: #f4db97; }
.bg-yellow { background-color: #FFF799; }
.bg-brown { background-color: #3C2415}

body {
	padding: 0px;
}

p {
	/*color: green;*/
}
header {
	min-height: 15vh;
	background: url("../assets/imgs/Eco-Ninja-Header.png") no-repeat left center;
	background-size: cover;
	background-color: green;
}

a {
}

footer {
	min-height: 15vh;
	background-color: yellow;
}

nav.topNav {
	min-height: 7.5vh;
}

a.topNav {
	color: #197B30;
	text-decoration: none;
}

li.topNav:hover {
	color: #FFF799;
}

li.topNav:active {
	color: #FFF799; 
}

/* Styling for the main content area */

p.mainContent {
	color: black;
}

a.mainContent {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 22px;
  color: #197B30;
  padding: 10px 20px 10px 20px;
  border-style: none;
  font-size: 18px;
  text-decoration: none;
}

a.mainContent:hover {
	background: rgba(204, 235, 204, 0.35);
	color: #197B30;
  	text-decoration: none;
}

a.mainContent:active {
	background: rgba(204, 235, 204, 0.35);
	color: #197B30;
  	text-decoration: none;
}

.popoverBTN {
	  transition: 0.5s;
}
.popoverBTN:hover {
	transform: rotate(360deg);
	transition-duration: 0.75s;
}

.avatarAlert {
    	display: none;
    }

    .avatarGroup {
    	margin: 0 70;
    	text-align: center;
    }
.container .jumbotron {
    border-radius: 0px;
}

.jumbotron {
	min-height: 70vh;
	border-radius: 0px;
	background: url("../assets/imgs/Polar-Bears-in-Sunset.jpg") no-repeat center center;
	background-size: cover;
}