
div.container
{

	background: #ffff00;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 4px dashed black;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
}

h1#leaderboardH1
{
	background: #ff0000;
    text-align: center;

}

h2#leaderboardH2
{
	background: #0000ff;
    text-align: center;

}

table#leaderboardTable, th, td {
    border: 1px solid white;
    text-align: center;
}

table#leaderboardTable {
    border-collapse: collapse;
    width: 80%;

	margin-left: auto;
	margin-right: auto;
}

th {
    background-color: green;
    color: white;
    height: 50px;
    border: 1px solid white;
}
td {
    padding: 15px;
}

tr 
{
    background-color: purple;

}
tr.altRow 
{
    background-color: blue;

}
