/*      
*   Author: Declan Finnerty
*   Assignment: Minor   Project –   Eco Ninja, SxSW
*
* 	This file contains the styling for the mobile version quiz page
*/


/*
    this is a div that contains all the quizs
 */
.container
{
	min-width: 280px;
	padding: 5px 5px 5px 5px;
}


/*
    this is a div that contains each quiz
 */
.quizContainer
{

	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-direction: column;

	padding: 5px 5px 5px 5px;
}


/*
	quizEllement could be a quiz video of the questions
 */
.quizEllement
{
	margin-left: auto;
	margin-right: auto;

}

