
.container
{

	background: #FFF799;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 4px dashed black;
	margin-left: auto;
	margin-right: auto;
}


.quizContainer
{
	display: flex;
	flex-flow: col;
	display: -webkit-flex;
	-webkit-flex-flow: row;

	background: #3C2415;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 4px dashed black;
	margin-left: auto;
	margin-right: auto;
}

.quizEllement
{
	flex: 1;
	-webkit-flex: 1;

	background: #F4DB97;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 4px dashed black;

}

input{
  float: right; 
}


#submitDiv
{
    margin-left: auto;
    margin-right: auto;
}

#submitBtn
{
	background-color: #FFF799;
	text-align: center;
	width: 90px;
	height: 50px;
}

