/*      
*   Author: Declan Finnerty
*   Assignment: Minor   Project â€“   Eco Ninja, SxSW
*
* 	This file contains the styling for the quiz page
*/


/*
    this is a div that contains all the quizs
 */
.container
{

	background: #FFF799;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 4px solid black;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}


/*
    this is a div that contains each quiz
 */
.quizContainer
{
	display: flex;
	flex-flow: col;
	display: -webkit-flex;
	-webkit-flex-flow: row;

	background: #197B30;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

/*
	quizEllement could be a quiz video of the questions
 */
.quizEllement
{
	flex: 1;
	-webkit-flex: 1;

	width: 90%;
	background: #fafafa;
	padding: 15px 15px 15px 15px;
	margin: 20px;
	border: 4px solid gray ridge;
	border-radius: 25px;

}

/*
	this keeps the radio buttons in line
 */
input{
  float: right; 
}


/*
	the submit button for the quiz contained here
 */
#submitDiv
{
    margin-left: auto;
    margin-right: auto;
}

/*
	the styling for the submit button
 */
#submitBtn
{
	background-color: #FFF799;
	text-align: center;
	width: 90px;
	height: 50px;
}

